.demo_text_edit { width:70%; height:25px; line-height:25px; text-align:center; border:none; border-radius:2px;box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08) }
.demo_btn {  height:25px; line-height:25px; }
